<template>
    <a href="#" class="list-group-item clearfix">
        <span class="pull-left thumb-sm avatar m-r">
            <img src="http://lorempixel.com/100/100" alt="...">
        </span>
        <span class="clear">
            <span>{{ item.name }}</span>
        </span>
    </a>
</template>

<style>

</style>

<script>
    export default{
        props: ['item'],
        data(){
            return {

            }
        },
        computed: {
        },
    }
</script>